<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <a class="navbar-brand" href="#">Brand</a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Left</a></li>
        <li><a href="#about">Left</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#about">Right</a></li>
      <li><a href="#contact">Right</a></li>
    </ul>
  </div>
</nav>

<div class="container-full">
  <div class="row">
    <div class="col-lg-12 text-center v-center">

      <h1>R-Cyclo</h1>
      <p class="lead">A sign-up page example for Bootstrap 3</p>

      <br>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-2"><%= link_to "Empresa", companies_sign_in_path, class: "	btn btn-primary btn-lg btn-block" %></div>
          <div class="col-md-2"><%= link_to "Institución", establishments_sign_in_path, class: "btn btn-primary btn-lg btn-block" %></div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
      <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
    </div>
  </div>

  <br><br><br><br><br>

</div>

<div class="container">

  <h2>Empresas</h2>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Ayuda a instituciones que reciclan</h3></div>
        <div class="panel-body">Registrándote en nuestro sitio, das la posibilidad de ofrecer tus desechos reciclables a instituciones que los recolecta para financiar actividades o conseguir recursos valiosos por dicho material.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>¿Contenedor lleno? ¡Notifícalo!</h3></div>
        <div class="panel-body">Puedes avisar a la institución asociada, con un sólo click, si tu contenedor ya está listo para ser retirado.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Solicita tu contenedor</h3></div>
        <div class="panel-body">¿Ya sabes a qué institución ayudarás? Pídeles un contenedor de desechos reciclables. Periódicamente, ellos irán a tu empresa a retirarlo.
        </div>
      </div>
    </div>
  </div>

  <h2>Instituciones</h2>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>¡Retira los contenedores!</h3></div>
        <div class="panel-body">Una vez que ya tengas definida una ruta, podrás ver en línea, a través de la aplicación en tu celular, la ubicación de todos los contenedores a retirar. Además, si un contenedor se llena cerca de donde estés, se notificará en el mapa de tu sesión.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Checkea los contenedores listos para retirar</h3></div>
        <div class="panel-body">Tendrás a disposición un mapa que mostrará la ubicación de todos tus contenedores, en donde podrás ver si está vacío, en uso o lleno.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Potencia tu campaña</h3></div>
        <div class="panel-body">¿Necesitas recolectar material desechable, y estás iniciando una campaña de acopio? Acá podrás encontrar empresas dispuestas a darte una mano.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <br><br>

      <p class="pull-right"><a href="http://www.bootply.com">Template from Bootply</a> &nbsp; ©Copyright 2013 ACME<sup>TM</sup> Brand.</p>

      <br><br>

    </div>
  </div>
</div>
